<h1 class="headerer">
  <%= link_to 'Assign shift', root_path %>
</h1>
<body>
<h2>Plan แผนก<%= @dep %></h2>
Date <%= date_select(:emp, :date, options={order: [:day, :month, :year]}) %><br>
Start Time <%= time_select(:emp, :start_time, options={order: [:hour, :minute]}) %><br>
Stop Time <%= time_select(:emp, :stop_time, options={order: [:hour, :minute]}) %><br>
<%= check_box_tag  "check_all", 1, true %> Select All
OT <%= text_field :emp, :ot %>
<%= submit_tag("Submit") %>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>ชื่อ-นามสกุล</th>
    <th>เวลาเข้างาน</th>
    <th>เวลาออกงาน</th>
    <th>OT Plane</th>
  </tr>
  <% @employee.each do |users| %>
  <tr>
    <td><%= check_box_tag :users_select %></td>
    <td>
	<%= users.name.to_s+" "+users.surname.to_s %>
    </td>
    <td>time in</td>
    <td>time out</td>
    <td>ot</td>
  </tr>
  <% end %>
</table>
</body>
